@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Sistema de Control Escolar</h1>
    <p class="lead">Bienvenido al sistema de Control Escolar, siéntase libre de moverse a través de los diversos módulos y sus operaciones.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Módulos de Alumnos</h2>
        <p>
            Adentrate en un módulo que te permitirá realizar consultas y movimientos con alumnos, tales como agregar, modificar
            o borrar.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("GetAll", "Alumno")">Adelante &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Módulo de Materias</h2>
        <p>El módulo de materia te permitirá visualizar las distintas asignaturas que un alumno puede cursar. Ingresa y prueba las diferentes funciones.</p>
        <p><a class="btn btn-default" href="@Url.Action("GetAll", "Materia")">Adelante &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Asignación de Materias</h2>
        <p>El módulo final te permitirá asignar materias a cada uno de tus alumnos registrados de una manera cómoda y sencilla.</p>
        <p><a class="btn btn-default" href="@Url.Action("AlumnoGetAll", "AlumnoMateria")">Adelante &raquo;</a></p>
    </div>
</div>