<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8"/>
  </system.web>
  <system.serviceModel>

	  <services>
		  <!-- Nota: el nombre del servicio debe coincidir con el nombre de la configuración para la implementación del servicio. -->
		  <service name="AlumnoService.svc" behaviorConfiguration="AlumnoService" >
			  <!-- Agregue el siguiente extremo.  -->
			  <!-- Nota: el servicio debe tener una dirección base http para agregar este extremo. -->
			  <endpoint contract="IMetadataExchange" binding="mexHttpBinding" address="mex" />
		  </service>
	  </services>
	  
	  <behaviors>
    <serviceBehaviors>
     <behavior name="AlumnoService">
      <dataContractSerializer maxItemsInObjectGraph="65535" />
      <serviceDebug includeExceptionDetailInFaults="true" />
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
     </behavior>
     <behavior name="">
      <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
      <serviceDebug includeExceptionDetailInFaults="false" />
     </behavior>
    </serviceBehaviors>
   </behaviors>
	  
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
   <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" /> 
	  
	  <!--<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0">
		  <serviceActivations>
			  <add service="IAlumno"  relativeAddress="Alumno.svc" />
		  </serviceActivations>
	  </serviceHostingEnvironment>-->
	  
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
